<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[00]</key>
	<string>face1</string>
	<key>[01]</key>
	<string>face2</string>
	<key>[02]</key>
	<string>face3</string>
	<key>[03]</key>
	<string>face4</string>
	<key>[04]</key>
	<string>face5</string>
	<key>[05]</key>
	<string>face6</string>
	<key>[06]</key>
	<string>face7</string>
	<key>[07]</key>
	<string>face8</string>
	<key>[08]</key>
	<string>face9</string>
	<key>[09]</key>
	<string>face10</string>
	<key>[10]</key>
	<string>face11</string>
	<key>[11]</key>
	<string>face12</string>
	<key>[12]</key>
	<string>face13</string>
	<key>[13]</key>
	<string>face14</string>
	<key>[14]</key>
	<string>face15</string>
	<key>[15]</key>
	<string>face16</string>
	<key>[16]</key>
	<string>face17</string>
	<key>[17]</key>
	<string>face18</string>
	<key>[18]</key>
	<string>face19</string>
	<key>[19]</key>
	<string>face20</string>
	<key>[20]</key>
	<string>face21</string>
	<key>[21]</key>
	<string>face22</string>
	<key>[22]</key>
	<string>face23</string>
	<key>[23]</key>
	<string>face24</string>
	<key>[24]</key>
	<string>face25</string>
	<key>[25]</key>
	<string>face26</string>
	<key>[26]</key>
	<string>face27</string>
	<key>[27]</key>
	<string>face28</string>
	<key>[28]</key>
	<string>face29</string>
	<key>[29]</key>
	<string>face30</string>
	<key>[30]</key>
	<string>face31</string>
	<key>[31]</key>
	<string>face32</string>
	<key>[32]</key>
	<string>face33</string>
	<key>[33]</key>
	<string>face34</string>
	<key>[34]</key>
	<string>face35</string>
	<key>[35]</key>
	<string>face36</string>
	<key>[36]</key>
	<string>face37</string>
	<key>[37]</key>
	<string>face38</string>
	<key>[38]</key>
	<string>face39</string>
	<key>[39]</key>
	<string>face40</string>
	<key>[40]</key>
	<string>face41</string>
	<key>[41]</key>
	<string>face42</string>
	<key>[42]</key>
	<string>face43</string>
	<key>[43]</key>
	<string>face44</string>
	<key>[44]</key>
	<string>face45</string>
	<key>[46]</key>
	<string>face47</string>
	<key>[47]</key>
	<string>face48</string>
	<key>[48]</key>
	<string>face49</string>
	<key>[49]</key>
	<string>face50</string>
	<key>[50]</key>
	<string>face51</string>
	<key>[51]</key>
	<string>face52</string>
	<key>[52]</key>
	<string>face53</string>
	<key>[53]</key>
	<string>face54</string>
	<key>[55]</key>
	<string>face56</string>
	<key>[56]</key>
	<string>face57</string>
	<key>[57]</key>
	<string>face58</string>
	<key>[58]</key>
	<string>face59</string>
	<key>[59]</key>
	<string>face60</string>
	<key>[60]</key>
	<string>face61</string>
	<key>[61]</key>
	<string>face62</string>
	<key>[62]</key>
	<string>face63</string>
	<key>[63]</key>
	<string>face64</string>
	<key>[64]</key>
	<string>face65</string>
	<key>[65]</key>
	<string>face66</string>
	<key>[66]</key>
	<string>face67</string>
	<key>[68]</key>
	<string>face69</string>
	<key>[69]</key>
	<string>face70</string>
	<key>[70]</key>
	<string>face71</string>
	<key>[72]</key>
	<string>face73</string>
	<key>[73]</key>
	<string>face74</string>
	<key>[74]</key>
	<string>face75</string>
	<key>[75]</key>
	<string>face76</string>
	<key>[76]</key>
	<string>face77</string>
	<key>[77]</key>
	<string>face78</string>
	<key>[78]</key>
	<string>face79</string>
	<key>[79]</key>
	<string>face80</string>
	<key>[80]</key>
	<string>face81</string>
	<key>[81]</key>
	<string>face82</string>
	<key>[82]</key>
	<string>face83</string>
	<key>[83]</key>
	<string>face84</string>
	<key>[84]</key>
	<string>face85</string>
	<key>[85]</key>
	<string>face86</string>
	<key>[86]</key>
	<string>face87</string>
	<key>[87]</key>
	<string>face88</string>
	<key>[88]</key>
	<string>face89</string>
	<key>[89]</key>
	<string>face90</string>
	<key>[90]</key>
	<string>face91</string>
	<key>[91]</key>
	<string>face92</string>
	<key>[92]</key>
	<string>face93</string>
	<key>[93]</key>
	<string>face94</string>
	<key>[94]</key>
	<string>face95</string>
	<key>[95]</key>
	<string>face96</string>
	<key>[96]</key>
	<string>face97</string>
</dict>
</plist>
